PACTUM_REQUEST_PROGRAM_MGMT_URL = https://program-mgmt-apig-pri.stg.codes.coke.com
PACTUM_REQUEST_RELEASE_MGMT_URL = https://release-mgmt-apig-pri.stg.codes.coke.com
PACTUM_REQUEST_CODE_GEN_BATCH_URL = https://codegen-batch-mgmt-apig-pri.stg.codes.coke.com
PACTUM_REQUEST_TOKEN = 